/** keyframes */

@keyframes shake {
    0% {
        transform: translate(5px);
    }

    30% {
        transform: translate(0px);
    }

    60% {
        transform: translate(-5px);
    }

    90% {
        transform: translate(0px);
    }
}

@keyframes fadeInNext {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInPrevious {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutNext {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes fadeOutPrevious {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes popFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/** Loader */

.lds-ringWrapper {
    display: block;
    position: relative;
    width: 100%; height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    top:0;
    bottom: 0;
}

.lds-ring {
    display: inline-block;
    position: page;
    margin: 40vh auto auto -80px;
    width: 80px;
    height: 80px;
    bottom: 0;
}

.lds-ring div {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(61 129 177) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
