.App {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

/* Header */
.header {
    overflow: hidden;
    background-color: rgb(61 129 177);
    padding: 0 10px 20px;
    text-align: center;
}

/** Form */

form {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: inline-block;
}

fieldset {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border: 5px solid rgba(22, 50, 89, 0.58);
    border-radius: 1em;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
}

fieldset legend {
    margin-left: 10%;
    text-align: left;
    margin-bottom: -20px;
}

fieldset p {
    width: 280px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    overflow: hidden;
    position: relative;
    align-items: center;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

fieldset p label {
    background-color: rgb(61 129 177);
    margin: 0 auto;
    text-align: center;
}

.header input {
    background-color: rgb(132 169 195);
    height: 100%;
    width: 55%;
    text-align: center;
    border: none;
    outline: none;
}

.header input[type="submit"] {
    font-size: 20px;
    color: #000000;
    width: 100%;
    cursor: pointer;

}

.header #label-file {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120%;
    width: 45%;
}

.header input[type='file'] {
    height: 125%;
    padding-top: 8px;
    margin: 0 auto auto 35px;
    width: 100%;
}

.header input[type='date']::-webkit-calendar-picker-indicator {
    padding-right: 20px;
}

.header p div {
    z-index: 5;
    position: absolute;
    background-color: rgb(132 169 195);
    height: 125%;
    padding-top: 8px;
    width: 50%;
}


.header input::placeholder {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    transition: 0.2s;
}

input:focus::-webkit-input-placeholder {
    transform: translateX(-0px) scale(2);
    opacity: 0;
}

/** Carrousel */

.carousel {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    column-gap: 32px;
    row-gap: 150px;
    /*
    width: 90%;
    height: 100%;
    margin-left: 5%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 300px);
    column-gap: 32px;
    row-gap: 150px;
    */

}

@media (min-width: 550px) {
    .carousel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .carousel {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1100px) {
    .carousel {
        grid-template-columns: repeat(4, 1fr);
    }
}

.container {
    position: static;
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

/* Picture */

picture {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: grid;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

picture img {
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 150%;
}

/* Description */

.wrapper {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: -moz-grid;
    display: inline-flex;
}

.heart {
    pointer-events: none;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
    position: absolute;
    float: right;
    margin: 5px 0 0 45%;
    padding: 0;
}

.heart path {
    pointer-events: auto;
    stroke: #ffffff;
    stroke-width: 2px;
}

.bin {
    pointer-events: none;
    fill: rgba(0, 0, 0, 0.5);
    height: 17px;
    width: auto;
    position: relative;
    float: right;
    margin: 35px 14px 0 -50px;
    padding: 0;
    opacity: 0;
    cursor: pointer;

}

.bin g {
    pointer-events: none;
    fill: #ff0000;
    stroke: none;
}

.bin path {
    pointer-events: auto;
}

.bin g path {
    pointer-events: auto;
}

picture:hover .bin {
    opacity: 1;
}

.star {
    fill: currentcolor;
    display: flex;
    float: bottom;
    width: 50px;
    margin: 0 200px 10px 0;


}

.star svg {
    height: 12px;
    width: 12px;
    fill: currentcolor;
    margin-right: 10px;
}


/** Buttons */

.carousel-button {
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    outline: none;
    margin-top: 40%;
    padding: 0;
    color: rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transition-property: all;
    transition: 0.3s;
    opacity: 0;
    stroke: currentcolor;
    stroke-width: 2px;
    overflow: visible;
    position: absolute;
}

.carousel-button:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}

.carousel-button svg {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 4;
    overflow: visible;
}

picture:hover .previous, picture:hover .next {
    opacity: 1;
}

/* Next button */

.carousel-button.next {
    float: right;
    margin: 5px 0 0 45%;
    padding: 0;
}


/* Previous button */

.carousel-button.previous {
    margin-left: 10px;
    padding: 0;
}

/* keyframes */

@keyframes shake {
    0% {
        transform: translate(5px);
    }

    30% {
        transform: translate(0px);
    }

    60% {
        transform: translate(-5px);
    }

    90% {
        transform: translate(0px);
    }
}

@keyframes fadeInNext {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInPrevious {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutNext {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes fadeOutPrevious {
    0% {
        opacity: 1;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}
