/** Carrousel */

.carousel {
    width: 90%;
    height: 100%;
    margin: 20px auto 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 30px;
}

@media (min-width: 550px) {
    .carousel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .carousel {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1100px) {
    .carousel {
        grid-template-columns: repeat(4, 1fr);
    }
}

.container {
    border-radius: 5%;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}

/* Carrousel pictures */

.picturesWrapper {
    position: relative;
    width: 100%;
}

.pictures {
    border-radius: 5%;
    position: relative;
    display: block;
    aspect-ratio: 1.1/1;
    overflow: hidden;
}

.pictures img {
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Carrousel description */

.description {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
}

.description .title {
    grid-column: 1 / 2;
    grid-row: 1;
}

.description .date {
    grid-column: 1 / 2;
    grid-row: 2;
}

.description .price {
    grid-column: 1 / 2;
    grid-row: 3;
}

.description .star {
    grid-column: 2;
    grid-row: 1 / 3;
    fill: currentcolor;
    text-align: right;
}

.description .star svg {
    height: 12px;
    width: 12px;
    fill: currentcolor;
    margin-right: 10px;
    margin-bottom: 3px;
}

.description p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

/* Carrousel buttons */

.interactionWrapper {
    position: absolute;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

.interactionWrapper .actions {
    position: absolute;
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: auto;
    padding-right: 13px;
    right: 0;
    top: 7px;
    margin: 0 auto;
}

.interactionWrapper .actions div {
    text-align: right;
    margin: 0 auto;
}

.interactionWrapper .buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Svg */

.interactionWrapper .actions .heart {
    pointer-events: none;
    fill: rgba(0, 0, 0, 0.5);
    height: 24px;
    width: 24px;
}

.heart path {
    pointer-events: auto;
    cursor: pointer;
    stroke: #ffffff;
    stroke-width: 2px;
}

.interactionWrapper .actions .bin {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.5);
    height: 17px;
    width: auto;
    opacity: 0;
}

.bin g {
    fill: #be0000;
    stroke: none;
}

.picturesWrapper:hover .bin {
    opacity: 1;
}

/** Buttons */

.carousel-button {
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: rgb(34, 34, 34);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    stroke: currentcolor;
    stroke-width: 2px;
    outline: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transition-property: all;
    transition: 0.3s;
    overflow: visible;
    position: relative;
}

.carousel-button:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
}

.carousel-button svg {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 4;
    overflow: visible;
}

.picturesWrapper:hover .previous,
.picturesWrapper:hover .next {
    opacity: 1;
}

.carousel-button.next {
    float: right;
    margin-right: 10px;
}

.carousel-button.previous {
    margin-left: 10px;
}
